.welcomeMessageContainer {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.callToAction1 {
    font-size: 5rem;
    margin-bottom: 10px;
    text-align: center;
}

.callToAction2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.loginSignup {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.logoContainer i {
    font-size: 5rem;
}

.demoUserButton {
    padding: .7em 4em;
    margin-top: 1em;
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
}

.demoUserButton:hover {
    background-color: var(--button-hover);
}
@media only screen and (max-width: 600px) {
    .callToAction1 {
        font-size: 2rem;
    }

    .callToAction2 {
        font-size: 1rem;
    }

    .logoContainer i {
        font-size: 3rem;
    }

}