.signupFormContainer {
    padding: 40px;
    display: flex;
    width: 800px;
    align-items: center;
    position: relative;
    left: 0;
    height: auto;
    box-sizing: border-box;
    transition: left 300ms ease-in-out;
}
.signupFormHeader {
    color: white;
    font-size: 2em;
    text-align: center;
}

.next {
    left: -375px;
}

.signupPage1 {
    margin-left: 50px;
}

.signupPage2 {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    z-index: 20;
    margin-left: 120px;
}

.form2 {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2em;
}

.skipContainer {
    display: flex;
    justify-content: center;
}
.form2Info {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form2Info label {
    margin: 10px;
}

.skipProfileUpload {
    margin: 10px;
    margin-top: 30px;
    width: fit-content;
    cursor: pointer;

    text-align: center;
}

.skipProfileUpload:hover {
    color: teal;
}

.formBody {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
}

.signupFormContainer form {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
}

.formInputContainer {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    margin-top: 10px;
}

.formInputContainer label {
    margin-bottom: 5px;
    font-size: .8em;
}

.formInputContainer input {
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid transparent;

}

.formInputContainer input:focus {
    padding-left: 10px;
    border: 2px solid #2878ff;
}

.signupFormSubmit,
.uploadButton {
    margin: 30px 50px;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    background-color: #2878ff;
}

.signupFormSubmit:hover,
.uploadButton:hover {
    background-color: #5895ff;
}

.signupButton {
    border-radius: 5px;
    padding: 5px 10px;
}

.signupButton:hover {
    background-color: rgb(226, 226, 226)
}

.fileWrapper {
    height: 150px;
    width: 150px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 100%;
    margin: 20px auto;
    overflow: hidden;
}

.fileInput {
    position: absolute;
    bottom: 0;
    left: 0px;
    z-index: 3;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 55px;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(0,0,0,0.6);
    opacity: 0;
}

.fileInput::-webkit-file-upload-button {
    visibility: hidden;
}

.fileInput::before {
    content:'\f030';
    font-family: fontAwesome;
    font-size: 40px;
    color: #fff;
    display: inline-block;
    -webkit-user-select:none;
    user-select: none;
}

.fileInput::after {
    content: 'Upload Image';
    color: #fff;
    display: inline-block;
    position:absolute;
    top: 110px;
    left: 25px;
}

.fileInput:hover {
    opacity: 1;
}

.form2Input::after {
    left: 18px;
}

.signupFormFooter {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    text-align: center;
}

.hasAnAccount {
    cursor: pointer;
}

.hasAnAccount:hover {
    color: teal;
}
