.contactBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
    background-color: #131C21;
    box-sizing: border-box;
    top: 0;
    transition: top 400ms;
    padding-top: 20px;
    height: 100%;
    overflow-y: scroll;
}

.addContactForm {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131C21;
}

.display {
    left: 0%;
}

.addContactButtonContainer {
    width: 100%;
    display: flex;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border-top: 1px solid rgb(77, 77, 77);
    margin-top: 10px
}

.addContactButtonContainer:hover {
    background-color: #2d3134;
}

.addContactButton {
    display: flex;
    align-items: center;
}


.searching {
    top: -413px;
    min-height: 100%;
    /* height: auto; */
}

.userContacts {
    width: 100%;
    color: white;
}

.userResult.contact {
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap
}

.userProfileAndName {
    display: flex;
}

.contactDeleteButtonContainer {
    position: absolute;
    left: 280px;
    overflow: hidden;
    z-index: 0;
}

.contactDeleteButton {
    width: 5em;
    position: relative;
    right: -100%;
    background-color: red;
    transition: right 300ms;
    overflow: hidden;
    padding: .5em 1em;
    text-align: center;
    border-radius: 5px;
}

.contactDeleteButton.showButton {
    right: 0%;
    z-index: 2;
}

.contactHeader {
    background-color: #131c21;
}