#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  z-index: 20;
}

#modal-content {
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #2a2f32;
    z-index: 20;
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
}

#modal-content > form {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 900px) {
   #modal-content {
       width: 100vw;
   }

   #modal-background {
       width: 100vw;
       height: 100vh;
   }
}