.sidebarContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100vh;
    position: relative;
    z-index: 2
}
.sidebarContentHeader {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    height: 108px;
    background-color: #2a2f32;
}

.newRoomFormContainer,
.profileContainer {
    /* display: none; */
    position: absolute;
    left: -35%;
    display: flex;
    flex-direction: column;
    width: 500px;
    transition: all 300ms ease-in-out;
    z-index: 1;
    height: 100%;
}
.show {
    left: 0%;
    z-index: 3;
    flex: 1;
}

.sidebarContentBody,
.profileBody {
    background-color: #131C21;
    height: 100%;
}

.sidebarButtonsContainer {
    display: flex;
}

.userProfilePicture {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.newRoomFormHeader,
.profileHeader {
    display: flex;
    align-items: center;
    background-color: #2a2f32;
    color: white;
    height: 108px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.newRoomForm {
    display: flex;
    background-color: #131C21;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
}

.newRoomFormInputContainer {
    display: flex;
    box-sizing: border-box;
    margin-top: 10px;
    width: 80%;
}

.newRoomFormDescription,
.profileDescription {
    color: white;
    font-size: 1.2em;
    margin-top: 10px;
}

.newRoomFormInputContainer input {
    padding: 10px 0px;
    padding-left: 20px;
    background-color: #2a2f32;
    color: white;
    font: inherit;
    border-radius: 20px;
    border: 1px solid gray;
    width: 100%;
    font-size: .8em;
}

.newRoomFormInputContainer input:focus {
    border-color:#2878ff
}

.dropdownContainer {
    border-radius: 5px;
}

.dropdownList {
    text-align: center;
    background-color: #2a2f32;
    color: #fff;
    font-size: .8em;
    padding: 10px 0px;
    border-radius: 5px;
}

.dropdownItem {
    padding: 10px;
    cursor: pointer;

}

.dropdownItem:hover {
    background-color: #212527;
}


.profileBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.profilePicture img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.default img {
    object-fit: cover;
}

.profileInformation {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
}

.profileName {
    color: #009184;
    margin-bottom: 20px;
}

.userName {
    color: white;
}

.profileLogoutButton,
.editProfileSubmit  {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #2878ff;
}

.profileLogoutButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profileLogoutButton:hover,
.editProfileSubmit:hover {
    background-color: #5895ff;
}

.chatListContainer {
    color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% - 109px);
}

.chatListItem {
    display: flex;
    padding: 20px;
    cursor: pointer;
}

.chatListItem.selected {
    background-color: #323739;
}

.chatListItem:hover {
    background-color: #2d3134;
}

.chatListInfo {
    margin-left: 10px;
}

.userNameAndEdit {
    display: flex;
    justify-content: space-between;
}


.userNameEdit {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}