.sidebarContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
}
.sidebarContentHeader {
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: #2a2f32;
}

.newRoomFormContainer,
.profileContainer {
    /* display: none; */
    position: absolute;
    left: -30%;
    width: 30%;
    height: 100vh;
    transition: left 500ms;
}
.show {

    left: 0%;
}

.sidebarContentBody,
.profileBody {
    background-color: #131C21;
    height: 100%;
}

.sidebarButtonsContainer {
    display: flex;
}

.userProfilePicture {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.newRoomFormHeader,
.profileHeader {
    display: flex;
    align-items: center;
    background-color: #2a2f32;
    color: white;
}

.newRoomForm {
    display: flex;
    background-color: #131C21;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 48px);
}

.newRoomFormInputContainer {
    display: flex;
    box-sizing: border-box;
    margin-top: 10px;
    width: 80%;
}

.newRoomFormInputContainer input {
    padding: 10px 0px;
    padding-left: 20px;
    background-color: #2a2f32;
    color: white;
    font: inherit;
    border-radius: 20px;
    border: 1px solid gray;
    width: 100%;
    font-size: .8em;
}

.dropdownContainer {
    border-radius: 5px;
}

.dropdownList {
    text-align: center;
    background-color: #2a2f32;
    color: #fff;
    font-size: .8em;
    padding: 10px 0px;
    border-radius: 5px;
}

.dropdownItem {
    padding: 10px;
    cursor: pointer;

}

.dropdownItem:hover {
    background-color: #212527;
}


.profileBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.profilePicture img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.profileInformation {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
}

.profileName {
    color: #009184;
    margin-bottom: 20px;
}

.userName {
    color: white;
}

.profileLogoutButton {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #2878ff;
}

.profileLogoutButton:hover {
    background-color: #5895ff;
}