.newRoomForm {
    display: flex;
    background-color: #131C21;
    flex-direction: column;
    /* height: 100%; */
}

.newRoomFormDescription {
    text-align: center;
}

.newRoomFormInputContainer {
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
}

.newRoomFormInputContainer input {
    padding: 10px 0px;
    padding-left: 50px;
    background-color: #2a2f32;
    color: white;
    font: inherit;
    border-radius: 20px;
    border: 1px solid gray;
    font-size: .8em;
    width: 80%;
    margin: 0 auto
}

.newRoomFormInputContainer input:focus {
    border-color: var(--button-color)
}
