.newRoomForm {
    display: flex;
    background-color: #131C21;
    flex-direction: column;
    /* height: 100%; */
}

.newRoomFormDescription {
    text-align: center;
}

.newRoomFormInputContainer {
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    height: 37px;
}

.newRoomFormInputContainer input {
    padding: 10px 0px;
    padding-left: 50px;
    background-color: #2a2f32;
    color: white;
    font: inherit;
    border-radius: 20px;
    border: 1px solid gray;
    font-size: .8em;
    width: 80%;
    margin: 0 auto
}

.newRoomFormInputContainer input:focus {
    border-color: var(--button-color)
}

.selectedContactsContainer {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: .8em;
}

.selectedContactsItem {
    display: flex;
    align-items: center;
    margin: 5px 20px;
}

.selectedContactInfo {
    display: flex;
    align-items: center;
    margin: auto 0;
    background-color: #1e2429;
    height: 35px;
    padding-right: 10px;
    border-radius: 20px;
}

.selectedContactProfileImage {
    margin-right: 10px;
    position: relative;
    left: -2px;
}

.newRoomFormSubmitContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.newRoomFormSubmit {
    padding: 10px 20px;
    background-color: var(--button-color);
    border-radius: 10px;
    color: white;
}

.newRoomFormSubmit:hover {
    background-color: var(--button-hover);
}