.chatRoomContainer,
.noMessagesContainer {
    /* flex: 65%; */
    height: 100vh;
    flex: 1 1;
    background-color: #262d31;
    position: relative;
    z-index: 6;
    color: white;
}

.chatRoomContainer,
.noMessagesContainer {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(https://web.whatsapp.com/img/bg-chat-tile-dark_a4be512e7195b6b733d9110b408f075d.png);
    background-color: #455863;
}

.noMessagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noMessagesContainer h1 {
    font-size: 2em;
    text-align: center;
    /* background-color: black; */
}

.welcomeMessage {
    text-align: center;
}
.callToAction1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.callToAction2 {
    font-size: 1.5em;
}

.chatRoomHeader {
    position: relative;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 59px;
    padding: 10px 16px;
    background-color: #2a2f32;
    justify-content: space-between;
}

.chatRoomImageAndName {
    display: flex;
}

.chatRoomNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chatRoomParticipants {
    display: flex;
}

.chatRoomMessageList {
    display: flex;
    order: 2;
    position: relative;
    height: calc(100% - 62px - 58px);
    flex-direction: column;
}

.chatRoomMessageFooter {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    order: 3;
    width: 100%;
    height: 62px;
    background-color: #1E2428;
    display: flex;
    padding: 10px 0px;
}

.chatRoomMessageForm {
    width: 100%;
}

.chatRoomImage {
    padding-right: 15px;
}

.chatRoomMessageInputContainer {
    display: flex;
    justify-content: center;
    height: 100%;
}

.chatRoomMessageInput {
    padding: 15px;
    border: none;
    width: 80%;
    outline-width: 0;
    color: #fff;
    font-size: 1em;
    border-radius: 20px;
    background-color: #33383b;
}

.chatRoomMessageContainer {
    height: fit-content;
    display: flex;
    padding: 0px 100px;
}

.chatRoomMessage {
    margin: 5px;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
}

/* .chatRoomMessage::after {
    content: '';
    position: relative;
    left: 50px;
} */

.chatRoomMessageContainer.sent {
    display: flex;
    justify-content: flex-end;
}

.chatRoomMessage.sent::after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -8px;
    top: 0px;
	bottom: auto;
	border: 10px solid;
	border-color: #056162 transparent transparent transparent;
}

.chatRoomMessage.sent {
    background-color: #056162;
    position: relative;
}

.chatRoomMessage.received {
    background-color: #262d31;
    box-sizing: border-box;
    width: fit-content;
}

.chatRoomMessageSender {
    font-size: .8em;
}

.chatMessageArrow {
	position: relative;
	width: 0;
	height: 0;
    left: 15px;
	right: auto;
    top: 5px;
	bottom: auto;
	border: 10px solid;
	border-color: #262d31 transparent transparent transparent;
}

/* Right triangle, left side slightly down */
/* .tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
} */