.chatRoomContainer,
.noMessagesContainer {
    /* flex: 65%; */
    height: 100vh;
    flex: 1 1;
    background-color: #262d31;
    position: relative;
    z-index: 6;
    color: white;
}

.noMessagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomeMessage {
    text-align: center;
}
.callToAction1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.chatRoomHeader {
    position: relative;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 59px;
    padding: 10px 16px;
    background-color: #2a2f32;
    justify-content: space-between;
}

.chatRoomImageAndName {
    display: flex;
}

.chatRoomNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chatRoomMessageList {
    display: flex;
    order: 2;
    position: relative;
    height: calc(100% - 62px - 70px);
    flex-direction: column;
}

.chatRoomMessageFooter {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    order: 3;
    width: 100%;
    min-height: 62px;
    background-color: #2a2f32;
    display: flex;
    padding: 10px 0px;
}

.chatRoomMessageForm {
    width: 100%;
}

.chatRoomImage {
    padding-right: 15px;
}

.chatRoomMessageInputContainer {
    display: flex;
    justify-content: center;
    height: 100%;
}

.chatRoomMessageInput {
    padding: 15px;
    border: none;
    width: 80%;
    outline-width: 0;
    color: #fff;
    font-size: 1.2em;
    background-color: #33383b;
}

.chatRoomMessageContainer {
    height: fit-content;
    display: flex;
    padding: 0px 100px;
}

.chatRoomMessage {
    margin: 5px;
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
}

.chatRoomMessageContainer.sent {
    display: flex;
    justify-content: flex-end;
}

.chatRoomMessage.sent::after {
    position: absolute;
    right: 30px;
    top: -15px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid black;
}

.chatRoomMessage.sent {
    background-color: #056162;
    position: relative;
}