.loginFormContainer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginFormContainer form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loginFormContainer form div {
    width: 100%;
}

.loginFormInputContainer {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
}

.loginFormInputContainer label {
    margin-bottom: 10px;
}

.loginFormInputContainer input {
    padding: 5px;
    width: 300px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 2px solid transparent;

}

.loginFormInputContainer input:focus {
    padding-left: 10px;
    border: 2px solid var(--button-color);
}

.loginLabelContainer {
    display:flex;
    margin-left: 100px;
}

.loginInput {
    display: flex;
    justify-content: center;
}

.loginFormHeader {
    font-size: 2em;
    margin-bottom: 20px;
}

/* .loginFormButtonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
} */

.loginFormButton {
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    margin-left: 60px;
    margin-bottom: 5px;
    background-color: var(--button-color);
}

.loginFormButton:hover {
    background-color: var(--button-hover);
}

.loginButton {
    border-radius: 5px;
    background-color: var(--button-color);
    color: white;
    padding: .7em 4em;
    margin: 1em 0em
}

.loginButton:hover {
    background-color: var(--button-hover);
}